
/*设计图width*/
$screenwidth:750;

/*rem 分数*/
$remSize:15;

/*html rem比例*/
$rem:($screenwidth/$remSize);


/*var*/

$text-default: #8e8e8e; // 默认
$text-primary: #15ace4; // 选中
$text-success:#5cb85c;  // 成功
$text-info : #5bc0de; // 信息
$text-warning: #f0ad4e; // 警告   
$text-danger : darken( #ff0000,5%); ; // 危险 


$text-777: #777;    
$text-999: #999;      
$text-h:rgb(50,50,50);   // h1-h6
$text-ash: #aab2bd;     // 谈灰
$text-ash-2: #e6e9ed;
$text-ash-3: #f0f3f5; 


           







