
/*设计图width*/
$screenwidth:320;

/*rem 份数*/
$remSize:16;

/* 320/16 =20px=1rem */

/*html rem比例*/
$rem:($screenwidth/$remSize);


 $body-bg:#fafafa;  
 $body-color:#444;  
 $active-color:#690;
 $active-bg:#690;
 $a-color:blue;
 
 $slide-rd-df:#ccc; // slide 的小圆点active的 color
 $slide-rd-active:red; // slide 的小圆点active的 color









