/*table-view*/

.mobile-table-view {
    display: flex;
    flex-flow: column nowrap;
   
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    
    /*圆角table*/
    &.mobile-table-view-rd {
        margin: 10rem/$rem;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    >.mobile-table-view-cell {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
        padding: 10rem/$rem;
        padding-left: 20rem/$rem;
        font-size: 14rem/$rem;
        &+.mobile-table-view-cell {
            border-top: 1px solid #ddd;
        }
        a {
            display: flex;
            width: 90%;
            justify-content: flex-start;
            align-items: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            overflow-x: hidden;
        }
        .iconfont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            font-size: 20rem/$rem;
            color: #999;
        }
      
    }
}

.mobile-table-view-collapse {
  
    margin-top: 10px;
    width: 100%;
    background: #f8f8f8;
//  display: flex;
//  flex-flow: column nowrap;
   
    >.mobile-table-view-cell {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        padding: 10rem/$rem;
          padding-left: 15rem/$rem;
        font-size: 14rem/$rem;
        &+.mobile-table-view-cell {
            border-top: 1px solid #ddd;
        }
        a {
            display: flex;
            width: 90%;
            justify-content: flex-start;
            align-items: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
            overflow-x: hidden;
        }
        .iconfont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            font-size: 20rem/$rem;
            color: #999;
        }
    }
}

