
/*mobile-head*/
.mobile-head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  
    z-index: 9999;
    background: #f0f0f0;
}

.mobile-head .mobile-back {
    display: inline-block;
    width: 15%;
    outline: none;
    background: none;
}

.mobile-head .mobile-back span {
    margin-left: 10rem/$rem;
    font-size: .7rem;
    vertical-align: middle;
    color: #777;
}

.mobile-head .mobile-back span:active {
    color: red;
    outline: none;
    background: none;
}

.mobile-head-ttl {
    height: 2.2rem;
    line-height: 2.2rem;
    width: 100%;
    margin: 0 auto;
    font-size: .9rem;
    text-align: center;
    color:#444;
}

