
.mobile-scroll-topbottom{
    position: relative;
   
    height: 100%;
    overflow: hidden;
 
   
}

.mobile-scroll-topbottom-content{
    
}

/*滚动条*/
.mobile-scroll-bar{
    position: absolute;
    top: 0;
    right: 1px;
    z-index: 9999;
    height: 100%;
    width: 3px;
    background: rgba(orangered,0.6);
    border-radius: 8px;;
   // opacity: 0.8;
  
}
