/*head*/

.mobile-head {
    position: fixed;
    width: 100%;
    height: 100rem/$rem;
    line-height: 100rem/$rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #f0f0f0;
}

.mobile-head .mobile-back {
    display: inline-block;
    width: 15%;
    outline: none;
    background: none;
}

.mobile-head .mobile-back span {
    margin-left: 10rem/$rem;
    font-size: 30rem/$rem;
    vertical-align: middle;
    color: #777;
}

.mobile-head .mobile-back span:active {
    color: red;
    outline: none;
    background: none;
}

.mobile-head h2 {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    font-size: 36rem/$rem;
    text-align: center;
    color:#444;
}

.mobile-head~.moblie-conetnt {
    padding-top: 100rem/$rem;
}


.mobile-head~.moblie-footer {
    padding-bottom:100rem/$rem;
}


