/*head*/

.mobile-head {
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #f0f0f0;
}

.mobile-head .mobile-back {
    display: inline-block;
    width: 15%;
    outline: none;
    background: none;
}

.mobile-head .mobile-back span {
    margin-left: 10px;
    font-size: 30px;
    vertical-align: middle;
    color: #777;
}

.mobile-head .mobile-back span:active {
    color: red;
    outline: none;
    background: none;
}

.mobile-head h2 {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color:#444;
}

.mobile-head~.moblie-conetnt {
    padding-top: 44px;
}


.mobile-head~.moblie-footer {
    padding-bottom: 44px;
}

.mobile-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 44px;
     line-height: 44px;
     background: #f0f0f0;
}

.mobile-footer h2{
    font-size: 18px;
     text-align: center;
     color:#444;
}
