@charset "UTF-8";
/*设计图width*/
/*rem 份数*/
/* 320/16 =20px=1rem */
/*html rem比例*/
@media screen and (max-width: 319px) {
  html {
    font-size: 20px; } }

@media screen and (min-width: 320px) {
  html {
    font-size: 20px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 22.5px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 23.4375px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 24px; } }

@media screen and (min-width: 400px) {
  html {
    font-size: 25px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 25.875x; } }

@media screen and (min-width: 424px) {
  html {
    font-size: 26.5px; } }

@media screen and (min-width: 480px) {
  html {
    font-size: 30px; } }

@media screen and (min-width: 540px) {
  html {
    font-size: 33.75px; } }

@media screen and (min-width: 720px) {
  html {
    font-size: 45px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 46.875px; } }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

/*默认样式*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 14px;
  font-family: "微软雅黑", "宋体";
  background: #fafafa;
  color: #444; }

html, body {
  height: 100%;
  overflow: hidden; }

img {
  display: inline-block; }

ul {
  list-style: none; }

a,
a:link,
a:active {
  text-decoration: none;
  color: blue; }

ul {
  list-style: none; }

/*颜色*/
.text-white {
  color: #fff; }

.bg-white {
  background: #fff; }

/*边框与背景*/
.rd {
  border-radius: 5px; }

.rd-no {
  border-radius: 0px; }

.rd-no2 {
  border-radius: 0px !important; }

.br-no {
  border: none; }

.br-no2 {
  border: none !important; }

.bg-no {
  background: none; }

.bg-no2 {
  background: none !important; }

/*定位display*/
.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.inline-block {
  display: inline-block; }

.inline-block-none {
  display: inline-block;
  float: none; }

/*input*/
input,
.btn {
  outline: none; }

input:focus,
.btn:focus {
  outline: none !important; }

.input-underline {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important;
          box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important; }

.input-underline:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  -webkit-box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important;
          box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important; }

.input-br-no {
  border: none !important;
  -webkit-box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important;
          box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important;
  background: none; }

.input-br-no:focus {
  border: none !important;
  background: none;
  -webkit-box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important;
          box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff !important; }

.input-xs-x {
  line-height: 25px;
  height: 25px;
  padding: 2px 8px;
  font-size: 12px; }

.btn-xs-x {
  line-height: 25px !important;
  height: 25px !important;
  padding: 0px 7px !important;
  font-size: 12px !important; }

.width-0-5 {
  width: 5%;
  float: left; }

.width-1 {
  width: 10%;
  float: left; }

.width-1-5 {
  width: 15%;
  float: left; }

.width-2 {
  width: 20%;
  float: left; }

.width-2-5 {
  width: 25%;
  float: left; }

.width-3 {
  width: 30%;
  float: left; }

.width-3-5 {
  width: 35%;
  float: left; }

.width-4 {
  width: 40%;
  float: left; }

.width-4-5 {
  width: 45%;
  float: left; }

.width-5 {
  width: 50%;
  float: left; }

.width-5-5 {
  width: 55%;
  float: left; }

.width-6 {
  width: 60%;
  float: left; }

.width-6-5 {
  width: 65%;
  float: left; }

.width-7 {
  width: 70%;
  float: left; }

.width-7-5 {
  width: 75%;
  float: left; }

.width-8 {
  width: 80%;
  float: left; }

.width-8-5 {
  width: 85%;
  float: left; }

.width-9 {
  width: 90%;
  float: left; }

.width-9-5 {
  width: 95%;
  float: left; }

.width-100 {
  width: 100%;
  clear: both; }

/* use table width no float */
.table-0-5 {
  width: 5%; }

.table-1 {
  width: 10%; }

.table-1-5 {
  width: 15%; }

.table-2 {
  width: 20%; }

.table-2-5 {
  width: 25%; }

.table-3 {
  width: 30%; }

.table-3-5 {
  width: 35%; }

.tabel-4 {
  width: 40%; }

.table-4-5 {
  width: 45%; }

.table-5 {
  width: 50%; }

.table-5-5 {
  width: 55%; }

.table-6 {
  width: 60%; }

.table-6-5 {
  width: 65%; }

.table-7 {
  width: 70%; }

.table-7-5 {
  width: 75%; }

.table-8 {
  width: 80%; }

.table-8-5 {
  width: 85%; }

.table-9 {
  width: 90%; }

.table-9-5 {
  width: 95%; }

.table-100 {
  width: 100%; }

/*其他*/
.overflow-y {
  overflow-y: hidden; }

.overflow-x {
  overflow-y: hidden; }

.mobile-hide {
  display: none; }

.mobile-hide-text-index {
  position: absolute !important;
  display: inline-block !important;
  text-indent: -99999px;
  margin: -2px !important;
  padding: 0 !important;
  width: 0 !important;
  height: 0 !important;
  outline: none !important; }

.content-responsive img {
  height: auto;
  max-width: 100% !important; }

.response-img {
  height: auto;
  width: 100% !important; }

.img-100 {
  width: 100%;
  height: auto; }

/* 输入框focus焦点*/
input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

select option {
  outline: none !important; }

/*ellipsis*/
.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.ellipsis-no {
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word; }

.table-fixed {
  table-layout: fixed; }

.table-auto {
  table-layout: auto; }

.padding-l-no {
  padding-left: 0; }

.padding-r-no {
  padding-right: 0; }

.padding-lr-no {
  padding-left: 0;
  padding-right: 0; }

/*clr*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both;
  overflow: hidden; }

/* Animated rotating icon */
.spin {
  display: inline-block;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear; }

/* Prevent stack and spinners from being taken inline when inside a link */
a .stack,
a .spin {
  display: inline-block;
  text-decoration: none; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

/*mobile-head*/
.mobile-head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #f0f0f0; }

.mobile-head .mobile-back {
  display: inline-block;
  width: 15%;
  outline: none;
  background: none; }

.mobile-head .mobile-back span {
  margin-left: 0.5rem;
  font-size: .7rem;
  vertical-align: middle;
  color: #777; }

.mobile-head .mobile-back span:active {
  color: red;
  outline: none;
  background: none; }

.mobile-head-ttl {
  height: 2.2rem;
  line-height: 2.2rem;
  width: 100%;
  margin: 0 auto;
  font-size: .8rem;
  text-align: center;
  color: #444; }

.mobile-content {
  position: absolute;
  z-index: 9;
  width: 100%; }

/*mobile-footer*/
.mobile-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  height: 2.2rem;
  width: 100%;
  background: #f0f0f0; }

.mobile-footer h2 {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  color: #444;
  line-height: 2.2rem; }

.mobile-scroll-topbottom {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
  overflow: hidden;
  /*置顶文字*/
  /*加载图标*/ }
  .mobile-scroll-topbottom .mobile-scroll-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
    width: 100%;
    min-height: 100%;
    background: #fff; }
  .mobile-scroll-topbottom .mobile-toptext {
    width: 100%;
    padding: 20px;
    margin-top: 10%;
    text-align: center;
    color: #bbb; }
  .mobile-scroll-topbottom .mobile-loading {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #777;
    background: #fff; }

/*滚动条*/
.mobile-scroll-bar {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 9999;
  width: 3px;
  background: rgba(153, 153, 153, 0.8);
  border-radius: 8px;
  opacity: 1; }

/* mobile-scroll 导航左右滑动 */
.mobile-scroll-leftright {
  position: relative;
  z-index: 9999;
  padding: 5px 0;
  width: 100%;
  overflow: hidden;
  background: #fff; }
  .mobile-scroll-leftright .mobile-scroll-content {
    float: left;
    white-space: nowrap;
    text-align: center;
    font-size: 0; }
    .mobile-scroll-leftright .mobile-scroll-content li {
      float: none;
      display: inline-block;
      padding: 0 0.75rem;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: .7rem; }
      .mobile-scroll-leftright .mobile-scroll-content li a {
        display: block;
        line-height: 1.5rem;
        color: #020202; }
      .mobile-scroll-leftright .mobile-scroll-content li.active {
        background: #690;
        color: #fff; }
        .mobile-scroll-leftright .mobile-scroll-content li.active a {
          color: #fff; }

/* mobile-slide 图片轮播 */
.mobile-slide {
  position: relative;
  z-index: 9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  overflow: hidden; }

.mobile-slide-list {
  position: relative;
  z-index: 2;
  height: 100%; }

.mobile-slide-item {
  float: left;
  display: block;
  height: 100%; }

.mobile-slide-item img {
  display: block;
  width: 100%;
  height: 100%; }

.mobile-slide-radius {
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: 999;
  width: 100%;
  height: 10px;
  /*background: red;*/
  line-height: 10px;
  text-align: center; }

.mobile-slide-radius span {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #ccc;
  border-radius: 50%; }

.mobile-slide-radius .active {
  background: red; }

.mobile-tab {
  position: fixed;
  left: 0;
  width: 100%;
  background: #fff; }

.mobile-tab-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #f0f0f0; }

.mobile-tab-ttl {
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #444; }

.mobile-tab-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  border-top: 1px solid #ddd;
  background: #fff; }

.mobile-tab-nav {
  width: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 9; }

.mobile-tab-item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.7rem;
  text-align: center;
  background: #fff; }
  .mobile-tab-item + .mobile-tab-item {
    border-left: 1px solid #ddd; }
  .mobile-tab-item.active {
    color: #690; }

/*  tab内容 slide*/
.mobile-tab-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden; }

.mobile-tab-slide-list {
  height: 100%; }
  .mobile-tab-slide-list .mobile-scroll-content-many {
    min-height: 100%;
    background: #fff; }

.mobile-tab-slide-item {
  float: left;
  padding: 10px; }
  .mobile-tab-slide-item.mobile-scroll-topbottom {
    height: 100%; }

/*tmobile-tab-nav*/
.mobile-tab-nav {
  position: relative;
  padding: 0.15rem 0;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 2px #ddd;
          box-shadow: 0 2px 2px #ddd;
  overflow: hidden; }

.mobile-tab-fixed {
  padding: 5px;
  text-align: center; }
  .mobile-tab-fixed li {
    padding: 5px; }
    .mobile-tab-fixed li.active {
      background: #690;
      color: #fff; }

/*mobile-tab-nav 下面的线条*/
.mobile-tab-fixed.mobile-tab-line li {
  padding: 5px; }

.mobile-tab-fixed.mobile-tab-line li.active {
  background: #fff;
  color: #690; }

/*滑动线条*/
.mobile-tab-slide-line {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 40px;
  height: 2px;
  background: #690; }

.mobile-aside {
  width: 100%;
  height: 100%; }

.mobile-aside-menu {
  position: relative;
  height: 100%;
  background: #f8f8f8; }

.mobile-aside-ttl {
  width: 100%;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  background: #f8f8f8;
  border-bottom: 1px solid #ddd; }
  .mobile-aside-ttl.active {
    background: #690;
    color: #fff; }
  .mobile-aside-ttl:first-child {
    border-top: 1px solid #ddd; }

.mobile-aside-content {
  height: 100%; }

.mobile-aside-item {
  display: none; }
  .mobile-aside-item.active {
    display: block; }
  .mobile-aside-item .mobile-scroll-content {
    padding: 0.25rem; }

.mobile-aside-content .mobile-scroll-content-many {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  min-height: 100%;
  padding: 5px;
  background: #fff; }
  .mobile-aside-content .mobile-scroll-content-many.active {
    display: block; }

/*上下拉全屏页*/
.mobile-fullpage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.mobile-fullpage-list,
.mobile-fullpage-list-item {
  width: 100%; }

.mobile-fullpage-nav {
  position: absolute;
  right: 10px;
  top: 50%; }

.mobile-fullpage-nav-item {
  position: relative;
  width: 8px;
  height: 8px;
  z-index: 99999;
  text-align: center;
  line-height: 5px;
  border-radius: 5px;
  background: #ccc; }
  .mobile-fullpage-nav-item + .mobile-fullpage-nav-item {
    margin-top: 10px; }
  .mobile-fullpage-nav-item.active {
    background: red; }

/*索引列表*/
.mobile-indexlist {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.mobile-indexlist-list li {
  padding: 0.5rem;
  background: #fff;
  font-size: 0.7rem; }
  .mobile-indexlist-list li + li {
    border-top: 1px solid #ccc; }
  .mobile-indexlist-list li.mobile-indexlist-list-ttl {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    background: #ddd; }

.mobile-indexlist-nav {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1.2rem;
  height: 100%;
  background: rgba(119, 119, 119, 0.3); }
  .mobile-indexlist-nav a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.7rem;
    color: #444; }
    .mobile-indexlist-nav a.active {
      color: red; }

.mobile-indexlist-tip {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  display: none;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  margin-top: -1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #444;
  font-weight: 400;
  line-height: 2rem;
  background: #ccc;
  border-radius: 5px; }

.scrolltopbottom {
  -webkit-box-shadow: -2px 0px 3px #ddd;
          box-shadow: -2px 0px 3px #ddd; }
  .scrolltopbottom li {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border: 1px solid #f8f8f8; }
    .scrolltopbottom li img {
      display: inline-block;
      width: 6rem;
      height: 6rem; }
    .scrolltopbottom li h5 {
      padding-bottom: 15px;
      text-align: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
