<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-scroll-topbottom {}
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--header-->
		<header class="mobile-head">
			<h2 class="mobile-head-ttl">上下滑动</h2>
		</header>

		<!--content-->
		<!-- data-scroll-top 是否下拉#   data-scroll-bottom 是否上拉   data-scroll-bar 是否显示滚动条-->
		<section class="mobile-content "  >
			<div  class="mobile-scroll-topbottom" data-scroll-bar  data-scroll-bottom  data-scroll-top>

			<div class="mobile-toptext">别拉了，我已到顶了。</div>
			<div class=" mobile-scroll-content">
				<div class="mobile-slide clearfix " data-time="3000" data-auto="自动播放">

					<ul class="mobile-slide-list">
						<li class="mobile-slide-item">
							<a href="slide.html" id="a">
								<div id="">
									<img src="../images/1.jpg" alt="">

								</div>
							</a>
						</li>
						<li class="mobile-slide-item">
							<a href="scroll.html">
								<img src="../images/2.jpg" alt="">
							</a>
						</li>
						<li class="mobile-slide-item">
							<a href="javascript:;">
								<img src="../images/3.jpg" alt="">
							</a>
						</li>
					<li class="mobile-slide-item">
							<a href="javascript:;">
								<img src="../images/4.jpg" alt="">
							</a>
						</li>
						<li class="mobile-slide-item">
							<a href="javascript:;">
								<img src="../images/5.jpg" alt="">
							</a>
						</li>
					</ul>

					<div class="mobile-slide-radius">
						<span class="active"></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>

				</div>
					<!-- 包含a连接 加mobile-link -->
				<ul class="scrolltopbottom  mobile-link clearfix">
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>

				</ul>

			</div>
		</div>
		</section>

		<!--footer-->
		<!--<footer class="mobile-footer">
				<h2>页脚</h2>
			</footer>-->
		<script type="text/html" id="must">
			{{#must}}

			<li>
				<a href="tab.html">
				<img src="{{src}}" alt="" />
				<h5>{{text}}</h5>
				</a>
			</li>
			{{/must}}
		</script>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mustache.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 拉到底部 加载数据
			var firstbottom = true;
			var bottomcontent = m(".mobile-scroll-content");
			m(".mobile-scroll-topbottom").on("scrollbottom", function(event) {
				//				console.log(event.detail);
				//				console.log("bottom");
				//				
				if(firstbottom) {
					firstbottom = false;
					bottomcontent.find(".loading").remove();
					var loading = document.createElement("div");
					loading.innerHTML = "正在加载中...";
					loading.classList.add("loading");
					bottomcontent.append(loading);
					setTimeout(function() {

						m.get("../json/topbottom.json", function(data) {

							var html = Mustache.to_html($("#must").html(), {
								must: data
							});
							bottomcontent.find(".loading").remove();
							bottomcontent.find(".scrolltopbottom").append(html);
							firstbottom = true;
						
						}, function() {
							firstbottom = true;
							loading.innerHTML = "数据加载失败...";
						});
					}, 500);
				}

			});

			// 拉到顶部
			m(".mobile-scroll-topbottom").on("scrolltop", function(event) {

				//console.log(event.detail);
				//console.log("scrolltop");
			})

			// 滚动
			m(".mobile-scroll-topbottom").on("scrolltopbottom", function(event) {

				//console.log(event.detail);
				//console.log("scrolltopbottom");
			})
		</script>

	</body>

</html>