<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-slide {
				margin-bottom: 10px;
				transform: rotate;
			}
			
			
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!-- data-scrolltop 是否下拉#   data-scrollbottom 是否上拉   data-scroll-bar 是否显示滚动条-->
		<div class="mobile-scroll-topbottom a" data-scrolltop data-scrollbottom  data-scroll-bar>

			<!--header-->
			<!--<header class="mobile-head">
				<div class="mobile-back">
					<span class="iconfont icon-zuojiantou"></span>
				</div>
				<h2>上下滑动</h2>
			</header>-->

			<!--content-->
			<section class="mobile-scroll-topbottom-content">
				<p>==========================</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<a href="http://www.baidu.com">baidu</a>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				
				
				
				<p>####################</p>

			</section>

			<!--footer-->
			<footer>

			</footer>
			
			
		</div>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			m(".mobile-scroll-topbottom.a").on("scrollbottom",function(event){
				
				//console.log(event.detail);
				//console.log("bottom");
			})
			
			m(".mobile-scroll-topbottom.a").on("scrolltop",function(event){
				
				//console.log(event.detail);
				//console.log("top");
			})
			
			m(".mobile-scroll-topbottom.a").on("scrolltopbottom",function(event){
				
				//console.log(event.detail);
				//console.log("scrolltopbottom");
			})
		</script>

	</body>

</html>