<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-slide {
				margin-bottom: 10px;
				transform: rotate;
			}
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>

		<!--header-->
		<header class="mobile-head">
			<nav class="mobile-scroll" data-link="跳转页面">
				<ul class="mobile-scroll-list">
					<li class="active">
						<a href="http://www.baidu.com">首页</a>
					</li>
					<li>
						<a href="slide.html">MV</a>
					</li>
					<li>
						<a href="javascript:;">悦单</a>
					</li>
					<li>
						<a href="javascript:;">V榜</a>
					</li>
					<li>
						<a href="javascript:;">音悦</a>
					</li>
					<li>
						<a href="javascript:;">商城</a>
					</li>
					<li>
						<a href="javascript:;">节目</a>
					</li>
					<li>
						<a href="javascript:;">饭团</a>
					</li>
					<li>
						<a href="javascript:;">资讯</a>
					</li>
					<li>
						<a href="javascript:;">我的家</a>
					</li>

				</ul>
			</nav>
			<nav class="mobile-scroll" data-link="跳转页面">
				<ul class="mobile-scroll-list">
					<li class="active">
						<a href="scrollTopBottom.html">首页</a>
					</li>
					<li>
						<a href="javascript:;">MV</a>
					</li>
					<li>
						<a href="javascript:;">悦单</a>
					</li>
					<li>
						<a href="javascript:;">V榜2</a>
					</li>

				</ul>
			</nav>

		</header>

		<!--content-->
		<section class="mobile-content mobile-scroll-topbottom">

		
		</section>

		<!--footer-->
		<footer>

		</footer>

		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 选中样式的事件
			m(".mobile-scroll").on("scrollselect", function(event) {

				//console.log(m(event.detail).find("a").text());

			})
		</script>

	</body>

</html>