<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-slide {
				margin-bottom: 10px;
				transform: rotate;
			}
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>
 
	<body>
		<div class="mobile-scroll-topbottom" data-scrollbottom data-scroll-bar >

			<!--header-->
			<header class="mobile-head">
				<div class="mobile-back">
					<span class="iconfont icon-zuojiantou"></span>
				</div>
				<h2>轮播图</h2>
			</header>

			<!--content-->
			<section class="mobile-scroll-topbottom-content">

				<!--轮播图 data-time="3000" data-auto="自动播放"  data-no-loop="禁止循环" -->
				<h4>自动轮播</h4>
				<div class="mobile-slide " data-time="3000" data-auto="自动播放">

					<ul class="mobile-slide-list ">
						<li>
							<a href="scroll.html" id="a">
								<div id="">
									<img src="../images/1.jpg" alt="">

								</div>
							</a>
						</li>
						<li>
							<a href="http://www.51zxw.com">
								<img src="../images/2.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/3.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/4.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/5.jpg" alt="">
							</a>
						</li>
					</ul>

					<div class="mobile-slide-radius">
						<span class="active"></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>

				</div>
				<hr />
				<!--轮播图 data-time="3000" data-auto="自动播放"  data-no-loop="禁止循环" -->
				<h4>禁止自动轮播</h4>
				<div class="mobile-slide " >

					<ul class="mobile-slide-list ">
						<li>
							<a href="#" id="a">
								<div id="">
									<img src="../images/1.jpg" alt="">

								</div>
							</a>
						</li>
						<li>
							<a href="http://www.51zxw.com">
								<img src="../images/2.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/3.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/4.jpg" alt="">
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<img src="../images/5.jpg" alt="">
							</a>
						</li>
					</ul>

					<div class="mobile-slide-radius">
						<span class="active"></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>

				</div>
				<hr />
				<h4>禁止自动轮播和禁止循环</h4>
				<!--轮播图 data-time="3000" data-auto="自动播放"  data-no-loop="禁止循环" -->
				<div class="mobile-slide "  data-no-loop="禁止循环">

					<ul class="mobile-slide-list ">
						<li>
							<a href="#" id="a">
								<div id="">
									<img src="../images/1.jpg" alt="">

								</div>
							</a>
						</li>
						<li>
							<a href="http://www.51zxw.com">
								<img src="../images/2.jpg" alt="">
							</a>
						</li>
						
					</ul>

					<div class="mobile-slide-radius">
						<span class="active"></span>
						<span></span>
					</div>

				</div>

				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p><br />
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>

				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p><br />
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>p</p>
				<p>###################################</p>

			</section>

			<!--footer-->
			<footer>

			</footer>
		</div>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		
		</script>

	</body>

</html>