<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-tab-slide .mobile-scroll-content {
				padding: 10px;
			}
			
			p {
				line-height: 28px;
				font-size: 16px;
			}
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--head-->
		<div class="mobile-head">
			<h2 class="mobile-head-ttl">tab 标签</h2>
		</div>
		<!--定位到顶部-->
		<div class="mobile-tab mobile-tab-top">
			<!--左右滑动组建  data-position-left=定位到left data-position-center=定位到center -->
			<nav class="mobile-scroll-leftright" data-position-center>
				<ul class="mobile-scroll-content">
					<li class="active" data-target="#page1">
						第1屏
					</li>
					<li data-target="#page2">
						第2屏
					</li>
					<li data-target="#page3">
						第3屏
					</li>
					<li data-target="#page4">
						第4屏
					</li>
					<li data-target="#page5">
						第5屏
					</li>
					<li data-target="#page6">
						第6屏
					</li>
					<li data-target="#page7">
						第7屏
					</li>
					<li data-target="#page8">
						第8屏
					</li>
					<li data-target="#page9">
						第9屏
					</li>
					<li data-target="#page10">
						第10屏
					</li>

				</ul>
			</nav>

		</div>

		<!--content-->
		<section class="mobile-content">

			<!--tab 左右滑动内容 data-no-drag=左右两边回弹  data-transition="是否左右滑动动画"-->
			<div class="mobile-tab-slide" data-transition="是否左右滑动动画" data-no-drag>
				<div class="mobile-tab-slide-list">
					<div id="page1" class="mobile-tab-slide-item  mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">

							<p>第1屏</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>1习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>end</p>
						</div>
					</div>

					<div id="page2" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第2屏</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>2习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>end</p>
						</div>

					</div>

					<div id="page3" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第3屏</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>3习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>

					<div id="page4" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第4屏</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>4习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>
					<div id="page5" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第5屏</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>5习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>

					<div id="page6" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第6屏</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>6习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>

					<div id="page7" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第7屏</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>7习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>
					<div id="page8" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第8屏</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>8习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>
					<div id="page9" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第9屏</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>9习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>
					<div id="page10" class="mobile-tab-slide-item mobile-scroll-topbottom" data-scroll-bar>
						<div class="mobile-scroll-content">
							<p>第10屏</p>

							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>
							<p>10习近平等党和国家领导人出席全国政协十三届一次会议闭幕会</p>

							<p>end</p>
						</div>
					</div>

				</div>

			</div>

		</section>

		<!--定位到底部-->
		<!--<div class="mobile-tab mobile-tab-bottom">
			<nav class="mobile-tab-nav">
				<div class="mobile-tab-item width-2-5 active">
					<span>首页</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span class="">电话</span>
				</div>

				<div class="mobile-tab-item width-2-5">
					<span>邮件</span>
				</div>
				<div class="mobile-tab-item width-2-5">
					<span>设置</span>
				</div>

			</nav>

		</div>-->

		<!--footer-->
		<!--<footer class="mobile-footer">
				<h2>页脚</h2>
		</footer>-->

		<script type="text/html" id="must">
			{{#must}}
			<li>
				<a href="scrollTopBottom.html">
					<img src="{{src}}" alt="" />
					<h5>{{text}}</h5>
				</a>
			</li>
			{{/must}}
		</script>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mustache.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// tabend 事件
			m(".mobile-tab-slide").on("tabend", function(event) {

				//console.log(event.detail.el.innerHTML);

			})
		</script>

	</body>

</html>