<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>mobile触摸页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style>
			.mobile-scroll-topbottom {}
		</style>

		<link rel="stylesheet" type="text/css" href="../css/mobile.css" />

	</head>

	<body>
		<!--tab组件-->
		<div class="mobile-tab">
			<h2 class="mobile-tab-ttl">tab 标签</h2>
		</div>

		<!--content-->
		<!-- data-scroll-top 是否下拉#   data-scroll-bottom 是否上拉   data-scroll-bar 是否显示滚动条-->
		<section class="mobile-content mobile-scroll-topbottom" data-scroll-bar data-scroll-bottom data-scroll-top>

			<!--滚动的底部文本-->
			<div class="mobile-toptext">别拉了，我已到顶了。</div>

			<!--滚动的整体内容-->
			<div class=" mobile-scroll-topbottom-content">

				<!--slide滑动组件-->
				<div class="mobile-slide" data-no-loop="禁止循环">

					<ul class="mobile-slide-list ">
						<li>
							<a href="#" id="a">
								<div id="">
									<img src="../images/1.jpg" alt="">

								</div>

						</li>
						<li>
							<a href="http://www.51zxw.com">
								<img src="../images/2.jpg" alt="">
							</a>
						</li>

					</ul>

					<div class="mobile-slide-radius">
						<span class="active"></span>
						<span></span>
					</div>

				</div>

				<!-- 包含a连接 加mobile-scroll-topbottom-link -->
				<ul class="mobile-scroll-topbottom-link scrolltopbottom clearfix">
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>
					<li>
						<img src="../images/1段奶粉.png" alt="" />
						<h5>1段奶粉</h5>
					</li>
					<li>
						<img src="../images/2段奶粉.png" alt="" />
						<h5>2段奶粉</h5>
					</li>
					<li>
						<img src="../images/3段奶粉.png" alt="" />
						<h5>3段奶粉</h5>
					</li>
					<li>
						<img src="../images/4断乃恩.png" alt="" />
						<h5>4断乃恩</h5>
					</li>

				</ul>

			</div>
		</section>

		<!--footer-->
		<!--<footer class="mobile-footer">
				<h2>页脚</h2>
		</footer>-->

		<script type="text/html" id="must">
			{{#must}}
			<li>
				<a href="scrollTopBottom.html">
					<img src="{{src}}" alt="" />
					<h5>{{text}}</h5>
				</a>
			</li>
			{{/must}}
		</script>
		<script src="../js/mobile.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mustache.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// 拉到底部 加载数据
			var firstbottom = true;
			var bottomcontent = m(".mobile-scroll-topbottom-content");
			m(".mobile-scroll-topbottom").on("scrollbottom", function(event) {
				//				console.log(event.detail);
				//				console.log("bottom");
				//				
				if(firstbottom) {
					firstbottom = false;
					bottomcontent.find(".loading").remove();
					var loading = document.createElement("div");
					loading.innerHTML = "正在加载中...";
					loading.classList.add("loading");
					bottomcontent.append(loading);
					setTimeout(function() {

						m.get("../json/topbottom.json", function(data) {

							var html = Mustache.to_html($("#must").html(), {
								must: data
							});
							bottomcontent.find(".loading").remove();
							bottomcontent.find(".scrolltopbottom").append(html);
							firstbottom = true;
							event.detail.barFun(); // 重设滚动条

						}, function() {
							firstbottom = true;
							loading.innerHTML = "数据加载失败...";
						});
					}, 500);
				}

			});

			// 拉到顶部
			m(".mobile-scroll-topbottom").on("scrolltop", function(event) {

				//console.log(event.detail);
				//console.log("scrolltop");
			})

			// 滚动
			m(".mobile-scroll-topbottom").on("scrolltopbottom", function(event) {

				//console.log(event.detail);
				//console.log("scrolltopbottom");
			})
		</script>

	</body>

</html>